################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chicadresse.Core/obj/Debug
/Chicadresse.Core/bin/Debug
/Chicadresse.Business/obj/Debug
/Chicadresse.Business/bin/Debug
/Chicadresse.Data/obj/Debug
/Chicadresse.Data/bin/Debug
/Chicadresse.Entities/obj/Debug
/Chicadresse.Entities/bin/Debug
/ChicadresseSite/bin/Debug
/ChicadresseSite/obj/Debug
/.vs