
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>

    @Styles.Render("~/Content/css")

    <script>(function (i, r) { i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) } })(window, 'ga')</script>
    <script>
        var internalTrackingService = internalTrackingService || {
            triggerSubmit: function () { },
            triggerAbandon: function () { },
            loaded: false
        };
    </script>
</head>

<body class="layout-auth layout-auth-template">

    <div class="wrapper-auth-recovery">
        <div class="mt10">
            <div class="header">
                <div class="pure-g">
                    <div class="pure-u-1 mt5 text-center">
                        <i class="logo lginlogo"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="white border-light p40 text-center mt30">
            <p class="layout-auth-title">Recover Password</p>
            <p class="strong">Write your email and you will receive the instructions to recover your password.</p>
            <div class="alert alert-success app-users-password-rectory-mail-sent dnone">
                Perfect! We've just sent you an email with instructions to recover your password.
                <div>
                    <a href="http://mail.google.com" class="strong app-users-password-rectory-webmail dnone" rel="nofollow" data-webmail="gmail">Go to Gmail &raquo;</a>
                    <a href="http://mail.live.com" class="strong app-users-password-rectory-webmail dnone" rel="nofollow" data-webmail="hotmail">Go to Hotmail &raquo;</a>
                    <a href="http://mail.yahoo.com" class="strong app-users-password-rectory-webmail dnone" rel="nofollow" data-webmail="yahoo">Go to Yahoo &raquo;</a>
                </div>
            </div>
            <div class="app-common-ajaxform-section">
                <form class="form-line" name="frmPasswordRecovery" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="mt20">
                        <input name="email" class="pure-u-1" type="email" placeholder="E-mail">
                    </div>
                    @*<button class="mt10 btn-flat red mt20" type="submit">Recover password</button>*@
                    <input type="submit" value="Recover password" class="mt10 btn-flat red mt20" />
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function onError() {
            $('.app-users-password-rectory-mail-sent').slideUp().addClass('dnone');
        }
    </script>
    <script type="text/javascript">
        window.onload = function () {
            if (window.location.hash == '#emailnotexist') {
                alert("Email does not exist in database.");
            }
            if (window.location.hash == '#alert') {
                alert("Please check your email to recover password of your account");
            }
        };
    </script>

</body>

</html>
