
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewPassword</title>

    @Styles.Render("~/Content/css")

    <script type="text/javascript">
        function Validate() {
            var password = document.getElementById("NewPassword").value;
            var confirmPassword = document.getElementById("NewPassword2").value;
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>

    <script>(function (i, r) { i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) } })(window, 'ga')</script>
    <script>
        var internalTrackingService = internalTrackingService || {
            triggerSubmit: function () { },
            triggerAbandon: function () { },
            loaded: false
        };
    </script>

</head>
<body class="layout-auth layout-auth-template">

    <div class="wrapper-auth-recovery">
        <div class="mt10">
            <div class="header">
                <div class="pure-g">
                    <div class="pure-u-1 mt5 text-center">
                        <i class="logo lginlogo"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="white border-light p40 text-center mt30">
            <p class="layout-auth-title">New Password</p>
            <p id="infoNewPassword" class="mb5 pure-u-1 alert alert-advice">Enter a new password and you are ready. Welcome to Weddingspot.co.uk.</p>
            <p id="error_passwords_no_coinciden" class="mb5 pure-u-1 alert alert-error dnone">The confirmation of the password does not match with the initial password</p>
            <p id="error_password_longitud" class="mb5 pure-u-1 alert alert-error dnone">The password must have at least six characters.</p>
            <form class="form-line" name="frmContacto" method="post" onsubmit="return users_validarPassword()">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <input type="hidden" name="token" value="MWRjNTU3NTFkOTk2ODQwMDIyYjRkN2E3YzZiNTIyN2M=" />      
                <input type="hidden" name="ac" value="3a45f5fa98a10b983b59d4bdeda2f1af64bfae4292b5f40e6727112b25a8e7530e6ed90988c24793MTExNzA3">
                <input type="hidden" name="redirect" value="">
                <input type="password" class="pure-u-1 mt20" name="NewPassword" id="NewPassword" placeholder="New password" />
                <input type="password" class="pure-u-1" name="NewPassword2" id="NewPassword2" placeholder="Repeat the new password" />
                @*<button class="mt10 btn-flat red mt20" type="submit">Save</button>*@
                <input type="submit" value="Save" class="mt10 btn-flat red mt20" onclick="return Validate()" />
            </form>
        </div>
    </div>
 
</body>
</html>
