@model DAL.User

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <section class="left_right_dash">
            <div class="col-sm-9 no_left_pdg">

                <div class="row_">
                    <div class="ttl_box new_ttl">
                        <h3><i class="vndr i_hotel_restaurant_166"></i> Vos prochaine teche a effectuer</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list_dashbord">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item clearfix">
                                    <a href="">
                                        <h3><i class="rclock_icon"></i> Trouver le groupe de musique ou le dj pour la reception</h3>
                                        <span>15 juin 2017</span>
                                        <i class="fa fa-chevron-right pull-right"></i>
                                    </a>
                                </li>
                                <li class="list-group-item clearfix">
                                    <a href="">
                                        <h3 class="lline"><i class="right_icon"></i> Trouver le groupe de musique ou le dj pour la reception</h3>
                                        <span>15 juin 2017</span>
                                        <i class="fa fa-chevron-right pull-right"></i>
                                    </a>
                                </li>
                                <li class="list-group-item clearfix">
                                    <a href="">
                                        <h3><i class="rclock_icon"></i> Trouver le groupe de musique ou le dj pour la reception</h3>
                                        <span>15 juin 2017</span>
                                        <i class="fa fa-chevron-right pull-right"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="ad_box">
                    <img src="~/Content/images/ad_full.jpg" class="img-responsive" alt="" usemap="#Mapp" />
                    <map name="Mapp" id="Mapp">
                        <area alt="" title="" href="#" shape="rect" coords="690,62,835,27" />
                    </map>
                </div>
                <div class="ttl_box">
                    <h3><i class="gst i_live_contestt"></i> Vos prestaires favoris</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="dash_box_main">
                            <div class="header">
                                <figure class="border-bottom">
                                    <a href="">
                                        <img class="gen-tool-icon img-responsive" src="~/Content/images/coup_1.jpg" />
                                    </a>
                                </figure>
                            </div>
                            <div class="p10">
                                <p class="">
                                    Florista
                                </p>
                                <small>Marrakech, Maroc</small>
                                <span class="providers-name pure-u-1">
                                    <ul class="star_rating">
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="active">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <a href="">DEMANDER UN DEVIS</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dash_box_main">
                            <div class="header">
                                <figure class="border-bottom">
                                    <a href="">
                                        <img class="gen-tool-icon img-responsive" src="~/Content/images/coup_2.jpg" />
                                    </a>
                                </figure>
                            </div>
                            <div class="p10">
                                <p class="">
                                    Florista
                                </p>
                                <small>Marrakech, Maroc</small>
                                <span class="providers-name pure-u-1">
                                    <ul class="star_rating">
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="active">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <a href="">DEMANDER UN DEVIS</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dash_box_main">
                            <div class="header">
                                <figure class="border-bottom">
                                    <a href="">
                                        <img class="gen-tool-icon img-responsive" src="~/Content/images/coup_3.jpg" />
                                    </a>
                                </figure>
                            </div>
                            <div class="p10">
                                <p class="">
                                    Florista
                                </p>
                                <small>Marrakech, Maroc</small>
                                <span class="providers-name pure-u-1">
                                    <ul class="star_rating">
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="active">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <a href="">DEMANDER UN DEVIS</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dash_box_main">
                            <div class="header">
                                <figure class="border-bottom">
                                    <a href="">
                                        <img class="gen-tool-icon img-responsive" src="~/Content/images/coup_4.jpg" />
                                    </a>
                                </figure>
                            </div>
                            <div class="p10">
                                <p class="">
                                    Florista
                                </p>
                                <small>Marrakech, Maroc</small>
                                <span class="providers-name pure-u-1">
                                    <ul class="star_rating">
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="active">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <a href="">DEMANDER UN DEVIS</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dash_box_main">
                            <div class="header">
                                <figure class="border-bottom">
                                    <a href="">
                                        <img class="gen-tool-icon img-responsive" src="~/Content/images/coup_1.jpg" />
                                    </a>
                                </figure>
                            </div>
                            <div class="p10">
                                <p class="">
                                    Florista
                                </p>
                                <small>Marrakech, Maroc</small>
                                <span class="providers-name pure-u-1">
                                    <ul class="star_rating">
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="active">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <a href="">DEMANDER UN DEVIS</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dash_box_main">
                            <div class="header">
                                <figure class="border-bottom">
                                    <a href="">
                                        <img class="gen-tool-icon img-responsive" src="~/Content/images/coup_2.jpg" />
                                    </a>
                                </figure>
                            </div>
                            <div class="p10">
                                <p class="">
                                    Florista
                                </p>
                                <small>Marrakech, Maroc</small>
                                <span class="providers-name pure-u-1">
                                    <ul class="star_rating">
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="active">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <a href="">DEMANDER UN DEVIS</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dash_box_main">
                            <div class="header">
                                <figure class="border-bottom">
                                    <a href="">
                                        <img class="gen-tool-icon img-responsive" src="~/Content/images/coup_3.jpg" />
                                    </a>
                                </figure>
                            </div>
                            <div class="p10">
                                <p class="">
                                    Florista
                                </p>
                                <small>Marrakech, Maroc</small>
                                <span class="providers-name pure-u-1">
                                    <ul class="star_rating">
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="active">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <a href="">DEMANDER UN DEVIS</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dash_box_main">
                            <div class="header">
                                <figure class="border-bottom">
                                    <a href="">
                                        <img class="gen-tool-icon img-responsive" src="~/Content/images/coup_4.jpg" />
                                    </a>
                                </figure>
                            </div>
                            <div class="p10">
                                <p class="">
                                    Florista
                                </p>
                                <small>Marrakech, Maroc</small>
                                <span class="providers-name pure-u-1">
                                    <ul class="star_rating">
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="active">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <a href="">DEMANDER UN DEVIS</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 padding-right">
                <section class="box_detail" style="background-image:url(../../Content/images/ad3.jpg);background-repeat:no-repeat;background-size:cover;padding:15px;margin:0 0 20px;">
                    <ul>
                        <li>
                            <div class="icon">
                                <span class="tble i_dinner_table"></span>
                            </div>
                            <div class="txt_sed">
                                <p>200 000,00 MAD</p>
                                <span>Modifie mon budget</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="txt_sedd">
                                <span>Montant Paye</span>
                                <p>30 000,00 MAD</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="txt_sedd">
                                <span>Montant restant</span>
                                <p>30 000,00 MAD</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <button class="btn btn_bdgt pull-right">Mon budget</button>
                    <div class="clearfix"></div>
                </section>
                <section class="choos_color">
                    <img src="~/Content/images/ad4.jpg" class="img-responsive" usemap="#Map" />
                    <map name="Map" id="Map">
                        <area href="javascript:void(0);" shape="rect" coords="61,639,220,598" />
                    </map>
                </section>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </section>
    </div>
</div>




